body {
    font-family: Arial, sans-serif;
    background-color: #46494c;
    /* height: 100vh; */
    margin: 0;
}

.form-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-acc {
    margin-top: 3%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-bottom: 5%;
}

h2 {
    text-align: center;
    color: #B74B47;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.app-btn {
    width: 100%;
    padding: 10px;
    background-color: #4c5c68;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.app-btn:hover {
    background-color: #425665;
    /* color: black; */
}

.sub-btn {
    width: 50%;
    padding: 10px;
    background-color: #4c5c68;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 3%;
}

.pass {
    padding-left: 2%;
    border: 1px solid #ddd;
    font-size: 1.7rem;
    width: 100%;
}

.terms {
    display: flex;
}

.hidden{
    display: none;
}
.visible {
    display: block;
}
.kyc-form {
    margin: 10% 0 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kyc-card {
    width: 70%;
    text-align: center;
}

#kyc-cust-name {
    width: 50%;
    text-align: center;
}

.otp-box {
    /* margin-top: 5%; */
    position: relative;
    left: 27%;
    text-align: center;
    background-color: #edeae7;
    color: white;
    border-radius: 5%;
    width: 45rem;
    height: 20rem;
    padding: 5%;
    margin-bottom: 25%;
}

.otp-input {
    text-align: center;
    border-radius: 5%;
    margin: 3% 0 5% 0;
    font-size: 1.2rem;
}

.pay-btn {
    background-color: #e2deda;
    padding: 1% 1% 1% 1%;
}