*{
    margin: 0;
    padding: 0;
}
.main-img-div {
    position: relative;
    width: 100%;
    /* max-width: 1500px;  */
    margin: 0 auto;   /* Center the image horizontally */
  }
  
.main-img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
  }
  
.button-overlay {
    position: absolute;
    top: 70%;  /* Center vertically */
    left: 13%; /* Center horizontally */
    text-align: center;
    display: flex;
  flex-direction: row;
  gap: 140px;
  }

.download-button {
    border: none;
    background-color: #485769;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}
.download-button:hover {
    background-color: #485769;
    color: white;
}
@-webkit-keyframes slide-in-left {
  0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hidden {
  opacity: 0;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.apply-card {
  background-color: #edeae7;
  font-size: 1.2rem;
  width: 60%;
  position: relative;
  left: 20%;
}

.app-btn {
  background-color: #485769;
  border: none;
  margin-top: 2%;
}